ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
	border: solid;
    border-style: ridge;
}

ul li {
	border: solid;
    border-style: inset;
}

ul li a {
    color: #000;
}

@media (max-width: 768px) {
	.navbar {
		opacity: 0.95;
	}

	.navbar-container {
		display: block;
		/*position: relative;*/
		/*height: 64px;*/
	}
}