<div class="card mb-3">
    <div class="card-header">
      Clientes
    </div>
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="col-12 col-md-12 col-xs-12">
            <input type="text" placeholder="Buscar" [(ngModel)]="searchText" />
          </div>
          <div class="col-12 col-md-12 col-xs-12">
            <div class="text-right">
              <button [routerLink]="['/clientes/form']" 
                type="button" 
                name="button" 
                class="btn btn-rounded btn-primary">Nuevo</button>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-info" *ngIf="clientes?.length==0">
        No se encontraron registros
      </div>
      <div class="table-responsive">
        <table class="table table-sm small" *ngIf="clientes.length>0">
          <thead>
              <tr>
              <th>Id</th>
              <th>Dni</th>
              <th>Nombre</th>
              <th>Genero</th>
              <th>Nacimiento</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Contrasena</th>
              <th>Estado</th>
              <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes | search: searchText">
              <th>{{ cliente.id }}</th>
              <th>{{ cliente.dni }}</th>
              <th>{{ cliente.nombre }}</th>
              <th>{{ cliente.genero }}</th>
              <th>{{ cliente.nacimiento }}</th>
              <th>{{ cliente.direccion }}</th>
              <th>{{ cliente.telefono }}</th>
              <th>{{ cliente.contrasena }}</th>
              <th>{{ cliente.estado == 1 ? 'Activo' : 'Inactivo' }}</th>

              <th>
                <div class="d-flex m-0 p-0">
                  <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn"><i class="bi bi-pen"></i></button>
                  <button type="button" name="button" (click)="delete(cliente)" class="btn"><i class="bi bi-trash"></i></button>
                </div>
              </th>
              </tr>
          </tbody>
        </table>
        <!-- <p>Paginas: {{clientesPage.totalPages}}</p>
        <p>Total: {{clientesPage.totalElements}}</p>
        -->
      </div>

    </div>
  </div>
  