<div class="card border-primary mb-3">
    <div class="card-header">
      Clientes
    </div>
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="col-12 col-md-12 col-xs-12">
            <input type="text" placeholder="Buscar" [(ngModel)]="searchText" />
          </div>
          <div class="col-12 col-md-12 col-xs-12">
            <div class="text-right">
              <button [routerLink]="['/clientes/form']" 
                type="button" 
                name="button" 
                class="btn btn-rounded btn-primary">Nuevo</button>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-info" *ngIf="clientes?.length==0">
        No se encontraron registros
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped" *ngIf="clientes.length>0">
          <thead>
              <tr>
              <th>id</th>
              <th>dni</th>
              <th>nombre</th>
              <th>genero</th>
              <th>nacimiento</th>
              <th>direccion</th>
              <th>telefono</th>
              <th>contrasena</th>
              <th>estado</th>
              <th>acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes | search: searchText">
              <th>{{ cliente.id }}</th>
              <th>{{ cliente.dni }}</th>
              <th>{{ cliente.nombre }}</th>
              <th>{{ cliente.genero }}</th>
              <th>{{ cliente.nacimiento }}</th>
              <th>{{ cliente.direccion }}</th>
              <th>{{ cliente.telefono }}</th>
              <th>{{ cliente.contrasena }}</th>
              <th>{{ cliente.estado }}</th>

              <th>
                <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
                <button type="button" name="button" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
              </th>
              </tr>
          </tbody>
        </table>
        <p>Paginas: {{clientesPage.totalPages}}</p>
        <p>Total: {{clientesPage.totalElements}}</p>
      </div>

    </div>
  </div>
  